.font-controller{
    font-size:50px;
    text-align:center;
    font-family: cursive;
    color:#ffffff;
    text-shadow:2px 5px 6px;
}
body{
    background-image:url("space.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    text-align:center;
}

.cute{
    display:inline-block;
    background-color:white;
    height:1000px;
    width:900px;
}

.cute img{
    display:block;
    height:1000px;
    width:900px;
}

.btn{
    background-color:#d96aff;
    height: 200px;
    width: 500px;
    font-size:100px;
    font-weight:bold;
    color:white;
    text-shadow:2px 5px 6px;
    border-radius:100px;
    border:5px solid white;
    cursor:pointer;
    box-shadow:2px 5px 6px;
}
